<div class="new-transfert-page">
  <h1>Nouveau Virement</h1>
  <div class="form-container">
    <div class="form-group">
      <label for="description">Label</label>
      <input 
        type="text" 
        id="description" 
        data-selector="description" 
        v-model="description" 
        placeholder="Label"
      >
    </div>
    <div class="form-group">
      <label for="amount">Montant</label>
      <input 
        type="number" 
        id="amount" 
        data-selector="amount" 
        v-model="amount" 
        placeholder="120 €"
      >
    </div>
    <button 
      class="save-button" 
      data-selector="save" 
      @click="saveTransfert"
    >
      Sauvegarder
    </button>
  </div>
</div>
