.navbar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid var(--table-row-separator);
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 40px;
}

.logo-icon {
  margin-right: 10px;
}

.logo-text {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--dark-blue-text);
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  color: #B1B1B1;
  transition: background-color 0.2s, color 0.2s;
  border-left: 3px solid transparent;
}

.navbar-item:hover {
  background-color: rgba(24, 20, 243, 0.05);
  color: var(--primary-blue);
}

.navbar-item.active {
  background-color: rgba(24, 20, 243, 0.1);
  color: var(--primary-blue);
  border-left: 3px solid var(--primary-blue);
}

.navbar-icon {
  margin-right: 12px;
}

.navbar-item:first-child {
  color: var(--primary-blue);
  background-color: rgba(24, 20, 243, 0.1);
  border-left: 3px solid var(--primary-blue);
}
