:root {
  --positive-amount: #16DBAA;
  --negative-amount: #FE5C73;
  --primary-blue: #1814F3;
  --dark-blue-text: #343C6A;
  --light-gray-bg: #F5F7FA;
  --table-header-text: #718EBF;
  --table-content-text: #232323;
  --table-row-separator: #F2F4F7;
  --card-border-radius: 25px;
  --blue-gradient: linear-gradient(to bottom, #4C49ED, #0A06F4);
  --green-gradient: linear-gradient(to bottom, #41D4A8, #128980);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--light-gray-bg);
  color: var(--dark-blue-text);
}

.app {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  margin-left: 250px;
}
